:root {
  --primary-band: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --sudtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: grey;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
/**-----------P A G E    1----------------**/

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--text);
  background-color: var(--white-background);
}

/**--------navigator-------**/

.upper-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-band);
  text-decoration: none;
  text-transform: uppercase;
}
.up-logo-grey {
  color: var(--dark);
}
.list {
  list-style: none;
}
.navigation-menu-list {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.navigation-menu-list a {
  color: var(--dark);
}

.navigation-menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.link:hover {
  color: var(--pressed-state);
}
.link:focus {
  color: var(--pressed-state);
}

.upper-address {
  font-style: normal;
}

.upper-address-list {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.upper-address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.upper-address-link a:hover {
  color: var(--pressed-state);
}
.upper-address-link a:focus {
  color: var(--pressed-state);
}
.upper-address-list a {
  color: var(--text);
}
/**-------------hero-------------**/

.hero {
  background-color: var(--dark);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  cursor: pointer;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
}
.hero-btn:hover {
  background-color: var(--pressed-state);
}
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/**-------------section info--------------**/

.info-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.info-text {
  font-weight: 400;
  letter-spacing: 0.02em;
}

/**-------------section works-----------**/

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
}

/**---------------section team--------------**/

.team {
  background-color: var(--light);
}
.team-item {
  background-color: var(--white-background);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-text {
  font-weight: 400;
  letter-spacing: 0.02em;
}

/**-------------footer---------------**/

.footer {
  background-color: var(--modal-overlay);
}
.link {
  text-decoration: none;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-band);
}
.lower-logo-light {
  color: var(--light);
}
.footer-text {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--light);
}

/**-----------P A G E    2---------------**/

/**--------section potfolio menu--------**/

.portfolio-btn {
  background-color: var(--light);
  color: var(--primary-band);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-btn:hover {
  background-color: var(--pressed-state);
  color: var(--white-background);
}
.portfolio-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

/**------------portfolio----------**/

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.portfolio-link {
  font-weight: 400;
  letter-spacing: 0.02em;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/**-----**/
